@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Orbitron:wght@400..900&display=swap");

.main-banner {
  padding: 0;
  border-radius: 0.25rem;
  gap: 1rem;
}

@media screen and (min-width: 1024px) {
  .grid-container {
    padding: 0 0 0 1rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}

/* Inicio: titulo y descripción */

.title {
  display: block;
  padding-top: 2rem;
  font-family: Orbitron, sans-serif;
  font-weight: 600;
  font-size: 1.5rem;
}

.line-2 {
  color: #ff9b17;
}

.description {
  font-size: 0.8rem;
  padding: 0.5rem;
}

@media screen and (min-width: 1024px) {
  .title {
    font-size: 2.5rem;
    padding-bottom: 1rem;
  }

  .description {
    font-size: 1rem;
  }
}

/* Fin: titulo y descripción */

/* Inicio: imagen banner */

/* Fin: imagen banner */
