.grid-responsive {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 1rem;
  max-width: 1400px;
  margin: auto;
}

.grid-responsive img {
  width: 100%;
  height: 18.75rem;
  object-fit: cover;
}
