.box {
  padding: 1rem;
  margin: 1rem;
  box-shadow: 0 0 1rem #00000025 inset;
}

.grid-responsive {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 1rem;
}

.quantity-cart{
    position: absolute;
    margin-left: 1.3rem;
    border-radius: 50rem;
    border: solid;
    padding: 0.2rem;
    font-size: 0.7rem;
    top: 0.6rem;
    line-height: 0.5rem;
}
