/* Inicio: slider */

.slider-container {
  overflow: hidden;
  /* Es la medida de la cabecera*/
  padding-top: 5.6rem;
}

.sliders {
  display: flex;
}

.slide {
  flex: 0 0 100%;
}

/* Fin: slider */
