.standard-section {
  padding-top: 7.5rem;
  max-width: 1400px;
  margin: 0 auto;
}

.standard-max-w {
  max-width: 1400px;
  margin: 0 auto;
}

.standard-section:last-child {
  padding-bottom: 3rem;
}

@media screen and (min-width: 1024px) {
  .standard-section {
    padding-top: 6rem;
  }
  .standard-section:last-child {
    padding-bottom: 6rem;
  }
}
